* {
    box-sizing: border-box;
}
body {
    background-color: aqua;
    margin: 2%;
}
.searchingForm, .addContent {
    display: block;
    margin: auto;
    background-color: aliceblue;
    box-shadow: 0 0 3px 2px grey;
    border-radius: 20px;
}
.searchingForm {
    width: 300px;
    height: 100px;
}
.addContent {
    width: 300px;
    height: 200px;
}
form{
    margin-top: 1vw;
    margin-bottom: 1vw  ;
}
label {
    display: block;
    text-align: center;
    margin-bottom: 0.3vw;
}

 form>input, button, textarea {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid green;
    border-radius: 5px;
 }
 /* Header */
 .overlay {
     display: none;
     position: fixed;
     filter: blur(5px);
     z-index: 2;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background-color: rgba(255, 255, 255, .15);
     backdrop-filter: blur(5px);
 }
 .signIn, .register, .welcome, .logout {
     display: inline;
     float: right;
     padding: 5px;
     border: 2px solid rgb(245, 242, 242);
     border-radius: 10px;
     margin: 5px;
     z-index: 5;
 }
 #signInForm, #registerForm{
     padding: 5px;
     background-color: blue;
     border-radius:10px ;
     color: aliceblue;

 }
 .signIn:hover, .register:hover, .logout:hover {
     color: aliceblue;
     background-color:black;
     border-color: black;
 }
 .header {
     margin-bottom: 25px;
 }
 .modalForSingIn, .modalForRegister {
     display: block;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 300px;
     height: 200px;
     z-index: 3;
 }
 a {
     text-decoration: none;
     color: inherit;
 }
 /* end of header */
 /* list of details */
 .editDetails, .saveDetails {
     padding: 5px;
     background-color: brown;
     float: right;
     margin-right: 10px;
     color: aliceblue;
     border-radius: 5px;
 }
 .editDetails:hover, .saveDetails:hover {
    background-color: green;
    cursor: pointer;
    color: #ffffff;
 }
 input.detailsOfTodoList {
     width: 70%;
     height: 40px;
 }
 /* end of list of details */

 